/*
***********************************************
*** ARXIU CSS PER FER EL LAYOUT EAMB FLOATS ***
***********************************************
*/

/* 
***** RESET BASIC CSS *****
*/
* {
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
}



/*
************** CSS GENERICS A TOTA LA WEB *******************
*/
h2{
    width: 100%; 
    text-align: center;
    padding: 15px;
}

section{padding-bottom: 20px;}

body{background-color: darkgrey;}

/* CONTENIDOR GENERAL */
.mainContainer{
    width:75%;
    margin:0 auto;
    background-color: white;
}

/* NAV */
.mainContainer>nav {
    position:relative;
    overflow: hidden;
    background-color: black;
}
.mainContainer>nav::after{
    content:"";
    clear: both;
}
.mainContainer>nav ul{
    /* eliminem els "punts" devant dels elements */
    list-style: none;
    overflow: hidden;
    padding:0px;
    margin:0px
}
.mainContainer>nav li{
    /* posem els elements en linia */
    display: inline-block;  
}
.mainContainer>nav li:first-child{
    float:left;
    color:black;
    width: 100px;  
    margin:0px;
    padding:0px;
    background-color: gray;
    text-align: center;
}
.mainContainer>nav li:not(first-child){
    float:right;
    padding: 0 10px;
}
.mainContainer>nav a img{
    background-color:white;
    margin:0px;
    padding:0px;
}
.mainContainer>nav a{
    color:white
}
.mainContainer>nav a:hover{
    color:black;
    background-color: green;
    border-radius: 5px;
}

/* HEADER */
/* Aqui cal qeu posem el titol a sobre de la imatge, farem servir posicions absolutes i un hack de % */
.mainContainer>header{
    position:relative
}
.mainContainer>header h1{
    /* Reset per poder centrar correctament */
    margin:0px; padding:10px 20px;
    color:white;
    background-color: green;
    border-radius: 20px 0px 20px 0px;

    /* per centrar-lo a sobre de la imatge, centrem primer el contenidor del h2 desde el vertex
    superior esquerre i despres centrem el contenidor del h2 cap aquell punt */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.mainContainer>header img{
    width: 100%;
}

/* FOOTER */
.mainContainer>footer{
    width: 100%;
    background-color: black;
    text-align: center;
}

.mainContainer>footer img{
    margin:0 10px;
    background-color: white;
}

/* MAIN */
/* 
Tant la pagina de inici com la de cv estan estructurades igual, en sections
/* la pagina de contacte es lleugerament diferent i te estils propis sobreposats
 al final del arxiu 
 */

 .mainContainer>main>section{width: 100%;}

 .mainContainer>main>section:nth-child(2n+2){background-color: lightgray;}

/*
****************************************
*** ESTILS ESPECIFICS DE CADA PAGINA ***
****************************************
*/

/**** INDEX ****/

/**** CV ****/
/* SECTION: INDEX */
#index{}
#index nav{}
#index nav ul{list-style: none; text-align: center;}
#index nav ul li{display: inline;margin: 0 10px;}
#index{} nav ul li a{}
#index{} nav ul li img{}

/* SECTION: PERSONAL */
#personal{
    overflow:hidden; 
    position:relative;
    width: 100%;
    padding-bottom: 20px;
}
#personal>div:first-of-type{
    float:left;
    width: 60%;
    padding-left:100px
}
#personal>div:not(first-of-type){
    float:right;
    width: 40%;
    text-align: left;
}
#personal::after{
    content:"";
    clear: both;
}

/* SECTION: IDIOMES */
#idiomes {}
#idiomes table{
    margin: 0 auto; 
    border-collapse: collapse;
}
#idiomes table caption{
    font-size: 10px;
    font-weight: 800;
    color: blue;
    margin-bottom: 10px;
}
#idiomes table th,td{
    border:solid green 2px;
    text-align: center;
    padding:10px 
}

#estudis ul,#laboral ul{
    width: 75%;
    margin: 0 auto;
}

section ul li .list_titol{font-weight: bold; font-size: 110%rem;}
section ul li .list_lloc{font-style: italic;}
section ul li .list_any{}
section ul li .list_descripcio{}

/**** CONTACTE ****/
/* al diseny podem veure com el contenidor principal es del 100% */
#CONTACTE_mainContainer{width: 100%;}

#CONTACTE_mainContainer main{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px
}

#CONTACTE_mainContainer main form div{
    text-align: center;
}


