/* 
    val farem 4 mediaqueries en els punts de tall proposats i la resta sera
    un diseny el mes fluid posible, per tant com farem servir unitats percentuals
    el disseny no sera tant semblant al proposat al Figma
*/

/* 
    Punts de tall recomenats per les mediaqueries: 
             600px (mòbil)
             768px (tauleta vertical)
             992px (tauleta horitzontal)
            1200px (escriptori)

    Format media-queries: 
        @media only screen and (max-width: 768px) {}

    Nota: podem fer servir max-width  (fins a) i min-width (a partir de).
*/

/* ******************************************************* */
/* ******************************************************* */
/* ********** DEFINIM PARTS COMUNS A LES MEDIA *********** */
/* ******************************************************* */
/* ******************************************************* */

/* Definim variables CSS */
:root{
    /* Definim variables de colors */
    --first-bg-color: #222222;
    --first-fg-color: #F5F5F5;

    /* Definim variables de fonts */
    --mainFont: Inter;
    --secondaryFont:Montserrat;
  }

/* Definim RESETS */
*{margin:0px; padding:0px; box-sizing: border-box;}

/* Definim FONTS */
/* els rem fan servir la unitat del body com a base */
/* els em  fan servir la unitat heredada del pare */
body{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

/* Definim el mainContainer */
.mainContainer{
    position:relative;
    width: 90%;
    /* pq es vegi per on va */
    border:5px solid red;
    /* per centrar-lo al contenidor pare */
    margin: 0 auto;

}

/* ***************************************** */
/* *************** HEADER ****************** */
/* ***************************************** */
/* Definim la estructura pel HEADER */
/*NOTA: El header no te titol, sols te la part del NAV */

.siteNav{
    /* Funcionara com un flex-container, per tant .... */
    display: flex;
    justify-content: left;
    /* Aliniacio VERTICAL */
    align-items: center;
    background-color: var(--first-bg-color);
}

.siteNav a {
    /* per tots els flex-items */
    padding: 1rem;
    color:var(--first-fg-color);
}

.siteNav a:first-child{
    /* sols el primer item .... */
    /* posem tot el espai disponible a la seva dreta */
    margin-right: auto;
}

.siteNav a:first-child img {
    /* recordem que les svg EXIGEIXEN un w/h per visualitzar-se */
    height: 2rem;
}


/* *************************************** */
/* *************** MAIN ****************** */
/* *************************************** */
/* Definim la estructura pel MAIN */
/* Definirem les SECTION del MAIN com a */
/* h2 - div(flex-container) */
main>section{
    /* aqeui definim com seran els contenidors section */
    position: relative;
}

.titol{
    /* seccio que inclou el titol de CADA PAGINA */
    width: 5trm;
}

.titol>h1{
    /* canviem font i cosetes .... */
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    /* Com tenim una imatge de fons aleatoria, le afegirem un border i background */
    border-radius: .5rem;
    background-color: green;
    color:white;
    padding: 1rem;
    /* el posicionament el fem amb: */
    /* NOTA: estem centrnat el vertex superior esquerre a sobre de la imatge*/
    margin:0px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* per centrar la imatge respecte del seu vertex: */
    transform: translate(-50%,-50%);
    /* i pq quedi per sobre: */
    z-index: 2;
}

.titol>img{
    width: 100%;
    z-index: 1;
    max-height: 300px;
}



/* *************************************** */
/* ********** MAIN PERSONALITZATS ******** */
/* *************************************** */

/* *************** FOOTER ****************** */
/* Definim la estructura pel FOOTER */


/* ********************************************************** */
/* ********************************************************** */
/* ********** DEFINIM PARTS CANVIADES A LES MEDIA *********** */
/* ********************************************************** */ 
/* ********************************************************** */

/* Disseny petit (menys de 600px) */
@media only screen and (max-width: 600px){

    /* DEFAULT CONFIGS */
    body{
        background-color:lawngreen;
    }
        .mainContainer{
        /* canviarem a full with i fem servir vw i no % */
        width: 100vw;
        /* centrem els elements */
        margin: 0 auto;
        /* fem la lletra mes grossa */
        font-size: 24px;
    }

    /* HEADER i NAV */
    .siteNav{
        /* Funcionara com un flex-container, per tant .... */
        display: flex;
        /* posem els elements en columna */
        flex-direction: column;
    }

    .siteNav a{
        /* aixo son els flex-items */
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bolder;
        font-style: italic;
        /* si posem 1.5em fa servir de base la heredada?, noooo la de root */
        font-size: 1em;
    }

    /* MAIN */
    .titol h1{
        font-size: 1.5em; color: blue;text-transform: capitalize;}
    /* FOOTER */

}

/* Disseny entremig (mes de 600 i menys de 992) */
@media only screen and (min-width: 601px) and (max-width:992px){
    body{
        background-color:orchid;
    }

    .mainContainer{
        width: 90%;
        margin: 0 auto;
    }
}

/* Disseny gran (mes de 992) */
@media only screen and (min-width: 993px){
    body{
        background-color:yellow;
    }

    .mainContainer{
        /* definim fins a on pot creixer */
        max-width: 1440px;
        /* el centrem a la pantalla */
        margin:0 auto;
    }
